/**
 * Tokens: Layout Containers
 *
 * Breakpoint and container-size tokens for layout widths and readable content measures.
 *
 * Naming Guide:
 * - Breakpoints: --breakpoint-<name>
 * - Containers: --container-<name>
 */
@theme {
  /** Extend Default Breakpoints **/
  --breakpoint-3xl: 120rem; /* 1920px */

  /** Extend Default Container Sizes **/
  --container-8xl: 96rem; /* 1536px */
  --container-9xl: 120rem; /* 1920px */

  /** Section Sizes **/
  --container-section-narrow: 37.5rem; /* 600px */
  --container-section: 56.25rem; /* 900px */
  --container-section-wide: 80rem; /* 1280px */
  --container-section-content: 31.25rem; /* 500px */
  --container-section-wide-content: 35.875rem; /* 574px */
  --container-section-narrow-content: 37.5rem; /* 600px Narrow content is designed for single column content */
}
