/**
 * Utilities: Color Mix
 *
 * Utilities for tinting and shading color tokens with white or black mixes.
 */
/* Text */
@utility text-mix-tint-* {
  color: color-mix(in oklch, --value(--color-*, [*]), white calc(--modifier(integer) * 1%));
}

@utility text-mix-shade-* {
  color: color-mix(in oklch, --value(--color-*, [*]), black calc(--modifier(integer) * 1%));
}

/* Background */
@utility bg-mix-tint-* {
  background-color: color-mix(
    in oklch,
    --value(--color-*, [*]),
    white calc(--modifier(integer) * 1%)
  );
}

@utility bg-mix-shade-* {
  background-color: color-mix(
    in oklch,
    --value(--color-*, [*]),
    black calc(--modifier(integer) * 1%)
  );
}

/* Border */
@utility border-mix-tint-* {
  border-color: color-mix(in oklch, --value(--color-*, [*]), white calc(--modifier(integer) * 1%));
}

@utility border-mix-shade-* {
  border-color: color-mix(in oklch, --value(--color-*, [*]), black calc(--modifier(integer) * 1%));
}
