/* Payload Override Styles */
@layer payload {
  .document-fields {
    --doc-sidebar-width: 274px;
  }

  .document-fields__sidebar-wrap {
    width: 15%;
  }
}

/* NJSIG Custom Styles */
.njsig {
  &__link-row-label {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;

    &__link-modifiers {
      align-items: center;
      display: flex;
      gap: 8px;
      margin-right: 24px;
      opacity: 0.4;
    }
  }

  &__two-column-row {
    > .render-fields {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px;
    }
  }

  &__hero-slide-row-label {
    &__theme {
      font-weight: bold;
    }
  }

  &__map-container {
    border-radius: 3px;
    overflow: hidden;

    &__placeholder {
      align-items: center;
      background: var(--theme-elevation-50);
      display: flex;
      justify-content: center;

      > svg {
        stroke: var(--theme-elevation-400);
      }
    }
  }
}
