/* Themed Overrides */
@layer base {
  :root {
    /* Event Tiles */
    --event-tile: var(--color-njsig-neutral-tint);
    --event-tile-foreground: var(--color-foreground);
    --event-tile-bespoke-dark: var(--color-azure-900);
    --event-tile-bespoke-light: var(--color-azure-700);
    --event-tile-bespoke-foreground: var(--color-foreground-inverted);
    --event-tile-bespoke-accent: var(--color-njsig-accent-midtone);

    /* Event Page */
    --event-theme-background: var(--color-njsig-neutral-background);
    --event-theme-foreground: var(--color-foreground);
    --event-theme-accent: var(--color-njsig-neutral-midtone);
    --event-theme-shade: var(--color-njsig-neutral-shade);
    --event-theme-shade-foreground: var(--color-foreground-inverted);
  }

  /* Shared Defaults */
  .event-theme {
    --event-theme-foreground: var(--color-foreground);
    --event-theme-shade-foreground: var(--color-foreground-inverted);
    --event-tile-bespoke-accent: var(--color-foreground-inverted);
  }

  /* Per-Theme Overrides */
  [data-event-theme='trusteeMeeting'] {
    --event-theme-background: var(--color-caip-background);
    --event-theme-accent: var(--color-caip-midtone);
    --event-theme-shade: var(--color-caip-shade);
    --title-theme-accent: var(--color-caip-midtone);
    --event-tile-bespoke-dark: var(--color-sea-green-900);
    --event-tile-bespoke-light: var(--color-sea-green-700);
    --bento-icon-stroke: var(--color-caip-midtone);
    --bento-placeholder: var(--color-caip-tint);
    --resource-theme: var(--color-caip-midtone);
    --resource-finisher: var(--bento-placeholder);
  }

  [data-event-theme='subfundMeeting'] {
    --event-theme-background: var(--color-ericwest-background);
    --event-theme-accent: var(--color-ericwest-midtone);
    --event-theme-shade: var(--color-ericwest-shade);
    --title-theme-accent: var(--color-ericwest-midtone);
    --event-tile-bespoke-dark: var(--color-trendy-pink-900);
    --event-tile-bespoke-light: var(--color-trendy-pink-700);
    --bento-icon-stroke: var(--color-ericwest-midtone);
    --bento-placeholder: var(--color-ericwest-tint);
    --resource-theme: var(--color-ericwest-midtone);
    --resource-finisher: var(--bento-placeholder);
  }

  [data-event-theme='otherEvent'] {
    --event-theme-background: var(--color-ericsouth-background);
    --event-theme-accent: var(--color-ericsouth-midtone);
    --event-theme-shade: var(--color-ericsouth-shade);
    --title-theme-accent: var(--color-ericsouth-midtone);
    --event-tile-bespoke-dark: var(--color-sushi-900);
    --event-tile-bespoke-light: var(--color-sushi-700);
    --bento-icon-stroke: var(--color-ericsouth-midtone);
    --bento-placeholder: var(--color-ericsouth-tint);
    --resource-theme: var(--color-ericsouth-midtone);
    --resource-finisher: var(--bento-placeholder);
  }

  [data-event-theme='importantDate'] {
    --event-theme-background: var(--color-mocssif-background);
    --event-theme-accent: var(--color-mocssif-midtone);
    --event-theme-shade: var(--color-mocssif-shade);
    --title-theme-accent: var(--color-mocssif-midtone);
    --event-tile-bespoke-dark: var(--color-tahiti-gold-900);
    --event-tile-bespoke-light: var(--color-tahiti-gold-700);
    --bento-icon-stroke: var(--color-mocssif-midtone);
    --bento-placeholder: var(--color-mocssif-tint);
    --resource-theme: var(--color-mocssif-midtone);
    --resource-finisher: var(--bento-placeholder);
  }
  [data-event-theme='njsigEvent'] {
    --event-theme-background: var(--color-bacceic-background);
    --event-theme-accent: var(--color-bacceic-midtone);
    --event-theme-shade: var(--color-bacceic-shade);
    --bento-icon-stroke: var(--color-bacceic-midtone);
    --bento-placeholder: var(--color-bacceic-tint);
    --resource-theme: var(--color-bacceic-midtone);
    --resource-finisher: var(--bento-placeholder);
  }
}
