/* Themed Overrides */
@layer base {
  :root {
    /* Sub-fund Page */
    --subfund-background: var(--color-njsig-neutral-background);
    --subfund-capsule-bg: var(--color-battleship-gray-100);
    --subfund-foreground: var(--color-njsig-neutral-shade);
    --subfund-accent: var(--color-njsig-neutral-midtone);
    --subfund-contact-ring: var(--color-njsig-neutral-shade);
  }

  /* Shared Defaults */
  .subfund-theme {
    --event-tile-bespoke-accent: var(--color-foreground-inverted);
  }

  /* Per-Theme Overrides */
  [data-subfund-theme='bacceic'] {
    --subfund-background: var(--color-bacceic-background);
    --subfund-capsule-bg: var(--color-glacial-100);
    --subfund-foreground: var(--color-bacceic-shade);
    --subfund-accent: var(--color-bacceic-midtone);
    --subfund-contact-ring: var(--color-bacceic-primary);
    --title-theme-accent: var(--color-bacceic-midtone);
    --event-tile-bespoke-dark: var(--color-glacial-900);
    --event-tile-bespoke-light: var(--color-glacial-700);
    --resource-theme: var(--color-bacceic-midtone);
    --resource-finisher: var(--color-bacceic-tint);
  }

  [data-subfund-theme='caip'] {
    --subfund-background: var(--color-caip-background);
    --subfund-capsule-bg: var(--color-sea-green-100);
    --subfund-foreground: var(--color-caip-shade);
    --subfund-accent: var(--color-caip-midtone);
    --subfund-contact-ring: var(--color-caip-primary);
    --title-theme-accent: var(--color-caip-midtone);
    --event-tile-bespoke-dark: var(--color-sea-green-900);
    --event-tile-bespoke-light: var(--color-sea-green-700);
    --resource-theme: var(--color-caip-midtone);
    --resource-finisher: var(--color-caip-tint);
  }

  [data-subfund-theme='ericnorth'] {
    --subfund-background: var(--color-ericnorth-background);
    --subfund-capsule-bg: var(--color-cerulean-100);
    --subfund-foreground: var(--color-ericnorth-shade);
    --subfund-accent: var(--color-ericnorth-midtone);
    --subfund-contact-ring: var(--color-ericnorth-primary);
    --title-theme-accent: var(--color-ericnorth-midtone);
    --event-tile-bespoke-dark: var(--color-cerulean-950);
    --event-tile-bespoke-light: var(--color-cerulean-800);
    --resource-theme: var(--color-ericnorth-midtone);
    --resource-finisher: var(--color-ericnorth-tint);
  }

  [data-subfund-theme='ericsouth'] {
    --subfund-background: var(--color-ericsouth-background);
    --subfund-capsule-bg: var(--color-sushi-100);
    --subfund-foreground: var(--color-ericsouth-shade);
    --subfund-accent: var(--color-ericsouth-midtone);
    --subfund-contact-ring: var(--color-ericsouth-primary);
    --title-theme-accent: var(--color-ericsouth-midtone);
    --event-tile-bespoke-dark: var(--color-sushi-900);
    --event-tile-bespoke-light: var(--color-sushi-700);
    --resource-theme: var(--color-ericsouth-midtone);
    --resource-finisher: var(--color-ericsouth-tint);
  }

  [data-subfund-theme='ericwest'] {
    --subfund-background: var(--color-ericwest-background);
    --subfund-capsule-bg: var(--color-trendy-pink-100);
    --subfund-foreground: var(--color-ericwest-shade);
    --subfund-accent: var(--color-ericwest-midtone);
    --subfund-contact-ring: var(--color-ericwest-primary);
    --title-theme-accent: var(--color-ericwest-midtone);
    --event-tile-bespoke-dark: var(--color-trendy-pink-900);
    --event-tile-bespoke-light: var(--color-trendy-pink-700);
    --resource-theme: var(--color-ericwest-midtone);
    --resource-finisher: var(--color-ericwest-tint);
  }

  [data-subfund-theme='mocssif'] {
    --subfund-background: var(--color-mocssif-background);
    --subfund-capsule-bg: var(--color-tahiti-gold-100);
    --subfund-foreground: var(--color-mocssif-shade);
    --subfund-accent: var(--color-mocssif-midtone);
    --subfund-contact-ring: var(--color-mocssif-primary);
    --title-theme-accent: var(--color-mocssif-midtone);
    --event-tile-bespoke-dark: var(--color-tahiti-gold-900);
    --event-tile-bespoke-light: var(--color-tahiti-gold-700);
    --resource-theme: var(--color-mocssif-midtone);
    --resource-finisher: var(--color-mocssif-tint);
  }

  [data-subfund-theme='njeif'] {
    --subfund-background: var(--color-njeif-background);
    --subfund-capsule-bg: var(--color-raspberry-100);
    --subfund-foreground: var(--color-njeif-shade);
    --subfund-accent: var(--color-njeif-midtone);
    --subfund-contact-ring: var(--color-njeif-primary);
    --title-theme-accent: var(--color-njeif-midtone);
    --event-tile-bespoke-dark: var(--color-raspberry-900);
    --event-tile-bespoke-light: var(--color-raspberry-700);
    --resource-theme: var(--color-njeif-midtone);
    --resource-finisher: var(--color-njeif-tint);
  }
}
