.ui-field-tip {
  align-items: start;
  background-color: var(--theme-success-100);
  border: 1px solid var(--theme-success-250);
  border-radius: 4px;
  color: var(--theme-success-800);
  display: flex;
  gap: 16px;
  margin-bottom: calc(var(--base) / 2);
  padding: 15px 23px;

  > .icon {
    align-items: center;
    display: flex;
    height: 20px;
    width: 16px;
  }
}
