@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme {
  --color-azure-50: oklch(97.35 0.005 263.54);
  --color-azure-100: oklch(94.58 0.01 263.54);
  --color-azure-200: oklch(88.11 0.021 263.54);
  --color-azure-300: oklch(77.47 0.04 263.54);
  --color-azure-400: oklch(64.81 0.063 263.54);
  --color-azure-500: oklch(55.05 0.073 263.54);
  --color-azure-600: oklch(48.33 0.073 263.54);
  --color-azure-700: oklch(40.74 0.059 263.54);
  --color-azure-800: oklch(37.12 0.047 263.54);
  --color-azure-900: oklch(33.8 0.039 263.54);
  --color-azure-950: oklch(26.19 0.027 263.54);

  --color-dandelion-50: oklch(98.69 0.021 95.25);
  --color-dandelion-100: oklch(96.45 0.06 96.14);
  --color-dandelion-200: oklch(92.77 0.118 95.6);
  --color-dandelion-300: oklch(90.2 0.14 92.62);
  --color-dandelion-400: oklch(84.66 0.168 84.63);
  --color-dandelion-500: oklch(77.88 0.167 69.89);
  --color-dandelion-600: oklch(67.28 0.161 57.88);
  --color-dandelion-700: oklch(55.98 0.149 48.55);
  --color-dandelion-800: oklch(47.48 0.128 45.43);
  --color-dandelion-900: oklch(41.68 0.108 45.87);
  --color-dandelion-950: oklch(28.08 0.076 45.94);

  --color-battleship-gray-50: oklch(98.21 0 252.95);
  --color-battleship-gray-100: oklch(96.64 0.001 252.95);
  --color-battleship-gray-200: oklch(93.85 0.002 252.95);
  --color-battleship-gray-300: oklch(88.43 0.004 252.95);
  --color-battleship-gray-400: oklch(81.49 0.006 252.95);
  --color-battleship-gray-500: oklch(73.23 0.009 252.95);
  --color-battleship-gray-600: oklch(64.45 0.011 252.95);
  --color-battleship-gray-700: oklch(59.76 0.011 252.95);
  --color-battleship-gray-800: oklch(52.37 0.01 252.95);
  --color-battleship-gray-900: oklch(46.18 0.008 252.95);
  --color-battleship-gray-950: oklch(34.76 0.006 252.95);

  --color-bondi-blue-50: oklch(97.99 0.012 215.36);
  --color-bondi-blue-100: oklch(94.31 0.028 215.36);
  --color-bondi-blue-200: oklch(88.88 0.048 215.36);
  --color-bondi-blue-300: oklch(81.22 0.078 215.36);
  --color-bondi-blue-400: oklch(71.43 0.1 215.36);
  --color-bondi-blue-500: oklch(59.38 0.093 215.36);
  --color-bondi-blue-600: oklch(54.13 0.085 215.36);
  --color-bondi-blue-700: oklch(47.2 0.069 215.36);
  --color-bondi-blue-800: oklch(41.8 0.055 215.36);
  --color-bondi-blue-900: oklch(37.52 0.045 215.36);
  --color-bondi-blue-950: oklch(28.25 0.039 215.36);

  --color-sea-green-50: ;
  --color-sea-green-100: ;
  --color-sea-green-200: ;
  --color-sea-green-300: ;
  --color-sea-green-400: ;
  --color-sea-green-500: ;
  --color-sea-green-600: ;
  --color-sea-green-700: ;
  --color-sea-green-800: ;
  --color-sea-green-900: ;
  --color-sea-green-950: ;

  --color-cerulean-50: ;
  --color-cerulean-100: ;
  --color-cerulean-200: ;
  --color-cerulean-300: ;
  --color-cerulean-400: ;
  --color-cerulean-500: ;
  --color-cerulean-600: ;
  --color-cerulean-700: ;
  --color-cerulean-800: ;
  --color-cerulean-900: ;
  --color-cerulean-950: ;

  --color-sushi-50: ;
  --color-sushi-100: ;
  --color-sushi-200: ;
  --color-sushi-300: ;
  --color-sushi-400: ;
  --color-sushi-500: ;
  --color-sushi-600: ;
  --color-sushi-700: ;
  --color-sushi-800: ;
  --color-sushi-900: ;
  --color-sushi-950: ;

  --color-trendy-pink-50: ;
  --color-trendy-pink-100: ;
  --color-trendy-pink-200: ;
  --color-trendy-pink-300: ;
  --color-trendy-pink-400: ;
  --color-trendy-pink-500: ;
  --color-trendy-pink-600: ;
  --color-trendy-pink-700: ;
  --color-trendy-pink-800: ;
  --color-trendy-pink-900: ;
  --color-trendy-pink-950: ;

  --color-tahiti-gold-50: ;
  --color-tahiti-gold-100: ;
  --color-tahiti-gold-200: ;
  --color-tahiti-gold-300: ;
  --color-tahiti-gold-400: ;
  --color-tahiti-gold-500: ;
  --color-tahiti-gold-600: ;
  --color-tahiti-gold-700: ;
  --color-tahiti-gold-800: ;
  --color-tahiti-gold-900: ;
  --color-tahiti-gold-950: ;

  --color-raspberry-50: ;
  --color-raspberry-100: ;
  --color-raspberry-200: ;
  --color-raspberry-300: ;
  --color-raspberry-400: ;
  --color-raspberry-500: ;
  --color-raspberry-600: ;
  --color-raspberry-700: ;
  --color-raspberry-800: ;
  --color-raspberry-900: ;
  --color-raspberry-950: ;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
